{% extends "app/layout.html" %}

{% block content %}
<h1>Give your opinion, even though no one asked</h1>

<p>
    Throw thoughtfulness and insight out the window. This is strictly a place of
    reviews of movies by people who have no idea what they are talking about.
    <br/>
    I also want to give a shout to the guys over at the
    <a href="http://www.omdbapi.com/" target="new">Open Movie Database</a>. A lot of the information
    used here is sourced from their wonderful, easy to use API. Support them if you can.
</p>
<p>
    Here, we rate movies off of 10 catagories. Is it to quantify different aspects of
    of a movie and to break down what actually makes the movie good? Possibly.
    <br/>
    Mostly, I am just copying <a href="http://www.dougdemuro.com/" target="new">Doug Demuro's</a>
    patented way of rating cars (Please, don't sue me).<br/>
    I'll go over what I think about when I think about each catagory and I'm sure someone
    that actually knows movies will come in and tell me that I'm wrong.
</p>
<ul class="cat-descriptions">
    {% for description in desc%}
    <li>
        <h2><u>{{ description.category}}</u></h2>
    </li>
    <li>
        {{ description.description|safe}}
    </li>
    <br/>
    {% endfor %}
</ul>

{% endblock %}
