{% extends "app/layout.html" %}

{% block content %}
<h1>Give your opinion, even though no one asked</h1>

<p>
    Throw thoughtfulness and insight out the window.  This is strictly a place of 
    reviews of movies by people who have no idea what they are talking about.
    <br />
    I also want to give a shout to the guys over at the 
    <a href="http://www.omdbapi.com/">Open Movie Database</a>. A lot of the information
    used here is sourced from their wonderful, easy to use API. Support them if you can.
</p>
<p>
    Here, we rate movies off of 10 catagories. Is it to quantify different aspects of 
    of a movie and to break down what actually makes the movie good? Possibly.
    <br />
    Mostly, I am just copying <a href="http://www.dougdemuro.com/">Doug Demuro's</a>
    patented way of rating cars (Please, don't sue me).<br />
    I'll go over what I think about when I think about each catagory and I'm sure someone
    that actually knows movies will come in and tell me that I'm wrong.
</p>
<ul class="cat-descriptions">
    <li>
        <h2>Sound</h2>
    </li>
    <li>
        How do the sound and score of the film impact you? Is it haunting and intense?
        Did you get goosebumps or did it take you out of the scene entirely?
        <br />
        One of my favorite uses of sound in a movie is in The Lighthouse (2019). From the
        get go, they omit dialogue for the first few minutes. Cut to the oppresive sounds
        inside of the lighthouse that are so loud and brain deadening you can't even enjoy
        the scene. I love it.
    </li>
    <li>
        <h2>Cinematography</h2>
    </li>
    <li>
        How do the sound and score of the film impact you? Is it haunting and intense?
        Did you get goosebumps or did it take you out of the scene entirely?
        <br />
        One of my favorite uses of sound in a movie is in The Lighthouse (2019). From the
        get go, they omit dialogue for the first few minutes. Cut to the oppresive sounds
        inside of the lighthouse that are so loud and brain deadening you can't even enjoy
        the scene. I love it.
    </li>
    <li>
        <h2>Story Telling</h2>
    </li>
    <li>
        How do the sound and score of the film impact you? Is it haunting and intense?
        Did you get goosebumps or did it take you out of the scene entirely?
        <br />
        One of my favorite uses of sound in a movie is in The Lighthouse (2019). From the
        get go, they omit dialogue for the first few minutes. Cut to the oppresive sounds
        inside of the lighthouse that are so loud and brain deadening you can't even enjoy
        the scene. I love it.
    </li>
    <li>
        <h2>Acting</h2>
    </li>
    <li>
        How do the sound and score of the film impact you? Is it haunting and intense?
        Did you get goosebumps or did it take you out of the scene entirely?
        <br />
        One of my favorite uses of sound in a movie is in The Lighthouse (2019). From the
        get go, they omit dialogue for the first few minutes. Cut to the oppresive sounds
        inside of the lighthouse that are so loud and brain deadening you can't even enjoy
        the scene. I love it.
    </li>
    <li>
        <h2>Plausibility</h2>
    </li>
    <li>
        How do the sound and score of the film impact you? Is it haunting and intense?
        Did you get goosebumps or did it take you out of the scene entirely?
        <br />
        One of my favorite uses of sound in a movie is in The Lighthouse (2019). From the
        get go, they omit dialogue for the first few minutes. Cut to the oppresive sounds
        inside of the lighthouse that are so loud and brain deadening you can't even enjoy
        the scene. I love it.
    </li>
    <li>
        <h2>Effects</h2>
    </li>
    <li>
        How do the sound and score of the film impact you? Is it haunting and intense?
        Did you get goosebumps or did it take you out of the scene entirely?
        <br />
        One of my favorite uses of sound in a movie is in The Lighthouse (2019). From the
        get go, they omit dialogue for the first few minutes. Cut to the oppresive sounds
        inside of the lighthouse that are so loud and brain deadening you can't even enjoy
        the scene. I love it.
    </li>
    <li>
        <h2>Cast</h2>
    </li>
    <li>
        How do the sound and score of the film impact you? Is it haunting and intense?
        Did you get goosebumps or did it take you out of the scene entirely?
        <br />
        One of my favorite uses of sound in a movie is in The Lighthouse (2019). From the
        get go, they omit dialogue for the first few minutes. Cut to the oppresive sounds
        inside of the lighthouse that are so loud and brain deadening you can't even enjoy
        the scene. I love it.
    </li>
    <li>
        <h2>Fun Factor</h2>
    </li>
    <li>
        How do the sound and score of the film impact you? Is it haunting and intense?
        Did you get goosebumps or did it take you out of the scene entirely?
        <br />
        One of my favorite uses of sound in a movie is in The Lighthouse (2019). From the
        get go, they omit dialogue for the first few minutes. Cut to the oppresive sounds
        inside of the lighthouse that are so loud and brain deadening you can't even enjoy
        the scene. I love it.
    </li>
    <li>
        <h2>Originality</h2>
    </li>
    <li>
        How do the sound and score of the film impact you? Is it haunting and intense?
        Did you get goosebumps or did it take you out of the scene entirely?
        <br />
        One of my favorite uses of sound in a movie is in The Lighthouse (2019). From the
        get go, they omit dialogue for the first few minutes. Cut to the oppresive sounds
        inside of the lighthouse that are so loud and brain deadening you can't even enjoy
        the scene. I love it.
    </li>
    <li>
        <h2>Characters</h2>
    </li>
    <li>
        How do the sound and score of the film impact you? Is it haunting and intense?
        Did you get goosebumps or did it take you out of the scene entirely?
        <br />
        One of my favorite uses of sound in a movie is in The Lighthouse (2019). From the
        get go, they omit dialogue for the first few minutes. Cut to the oppresive sounds
        inside of the lighthouse that are so loud and brain deadening you can't even enjoy
        the scene. I love it.
    </li>
</ul>

{% endblock %}
