<table>
    {% for movie_a in movies %}
    <tr>
        <td><a href="{% url 'add_review' movie_id=movie_a.movie_id %}"> <img id="mobile_poster" src={{movie_a.poster}}/>
        <td><a href="{% url 'view_review' movie_score_id=movie_a.movie_score_id %}">
            {{movie_a.title}}
        </a><br/>
            {{movie_a.total}}<br/>
            {{movie_a.created_at|date}}<br/>
            <a href="{% url 'user' user_id=movie_a.user.id %}">{{movie_a.user.username}}</a></td>
    </tr>
    {% endfor %}
</table>