{% extends "app/layout.html" %}

{% block content %}
<h1>{{ header }}</h1>
<h3>{{ message }}</h3>
<hr />

{% if not movies %}
<h4>{{null_message}}</h4>
<form action="{% url 'search_results' %}" method="get">
        <input name="search_string" type="text" placeholder="Find a movie to review">
        <button type="submit">Submit</button>
        </form>
{% else %}
<table>
    <tr>
        <th>Title</th>
        <th>Total</th>
        <th>User</th>
    </tr>
    {% for movie_a in movies %}
    <tr>
    <td><a href="{% url 'view_review' movie_score_id=movie_a.movie_score_id %}">
    {{movie_a.title}}
    </a></td>
    <td>{{movie_a.total}}</td>
    <td><a href="{% url 'movie' id=movie_a.user.id is_recent=0 %}">{{movie_a.user.username}}</a></td>
    </tr>
    {% endfor %}
</table>
<hr />
<p>Some of these reviews are better than others...</p>
{% endif %}
{% endblock %}
