{% extends "app/layout.html" %}

{% block content %}
<h1>{{ header }}</h1>
<h3>{{ message }}</h3>
<hr />
<table>
    <tr>
        <th>Title</th>
        <th>Total</th>
        <th>User</th>
    </tr>
    {% for movie_a in movies %}
    <tr>
    <td><a href="{% url 'view_review' movie_score_id=movie_a.movie_score_id %}">
    {{movie_a.movie.movie_title}}
    </a></td>
    <td>{{movie_a.total}}</td>
    <td><a href="{% url 'movie' id=movie_a.user.id is_movie=0 is_recent=0 %}">{{movie_a.user.username}}</a></td>
    </tr>
    {% endfor %}
</table>
<hr />
<p>Use this area to provide additional information.</p>

{% endblock %}
