{% extends "app/layout.html" %}

{% block content %}
<h1>{{ header }}</h1>
<hr />
<div class="container review_page">
{% ifequal add_review 0 %}
    
    
    <div class="col-md-8 review_tables">

<table class="review_table">
    <tr>
          <td id="no_border" colspan="12"><h4>{{ review_info.total }} Thumbs Up!</h4>
        {% for i in total %}
            &#128077;
        {% endfor %}</td>
    </tr>
    <tr></tr>
    <tr>
        <th>Sound</th>
        <td>{{review_info.sound}}</td>   
    </tr>
    <tr>
        <th>Cinematography</th>
        <td>{{review_info.cinematography}}</td>
    </tr>
    <tr>
        <th>Story Telling</th>
        <td>{{review_info.story_telling}}</td>
    </tr>
    <tr>
        <th>Acting</th>
        <td>{{review_info.acting}}</td>
    </tr>
    <tr>
        <th>Plausibility</th>
        <td>{{review_info.plausibility}}</td>
    </tr>
    <tr>
        <th>Cast</th>
        <td>{{review_info.cast}}</td>
    </tr>
    <tr>
        <th>Effects</th>
        <td>{{review_info.effects}}</td>
    </tr>
    <tr>
        <th>Fun Factor</th>
        <td>{{review_info.fun_factor}}</td>
    </tr>
    <tr>
        <th>Originality</th>
        <td>{{review_info.originality}}</td>
    </tr>
    <tr>
        <th id="n_b">Characters</th>
        
        <td>{{review_info.characters}}</td>
        <td id="n_b2"></td>
        <td id="n_b2"></td>
        <td id="n_b2"></td>
        <td id="n_b2"></td>
        <td id="n_b2"></td>
        <td id="n_b2"></td>
        <td id="n_b2"></td>
        <td id="n_b2"></td>
        <td id="n_b2"></td>
        <td id="n_b2"></td>
        <td id="n_b2"></td>
        <td id="n_b2"></td>
        <td id="n_b2"></td>
        <td id="n_b2"></td>
        <td id="n_b2"></td>
        <td id="n_b2"></td>
        


    </tr>
    <tr>
        <td id="no_border" colspan="12">
        {% if review_info.review %}

        <h2>Review</h2>
        <hr />
        {{review_info.review}}
        {% endif %}</td>
    </tr>
</table>


    </div>
{% endifequal %}
{% ifequal add_review 1 %}
<div class="col-md-6">
<form action="" method="post">
    {% csrf_token %}
        <table class="d-lg-block review_table">
        {{form.as_table}}
        </table>
    <button type="submit">Submit</button>
</form>
        </div>
{% endifequal %}
    <div class="col-md-5">
{% ifequal movie_info.Poster "N/A" %}
<img id="dogs" src="../../static/pictures/dogs.jpg" />
        <p>It looks like we don't have a poster, so here is a picture of my dogs</p>
{% else %}
    <img src="{{movie_info.Poster}}" />
        {% endifequal %}
    <h3>In case you forgot...</h3>
     <p>
       <b>Cast:</b> {{movie_info.Actors}}    
    </p>
    <p>
        <b>Plot:</b> {{movie_info.Plot}}
    </p>
</div>
<br />
</div>
<br />
{% if reviews %}
<br />
<div class="container other-reviews">
    <h4>Other reviews for {{review_info.title}}</h4>
    <table id="review_results_table">
        <tr>
            <th>Title</th>
            <th>Reviewed On</th>
            <th>Total</th>
            <th>User</th>
        </tr>
        {% for movie_review in reviews %}
            <tr>
                <td>
                    <a href="{% url 'view_review' movie_score_id=movie_review.movie_score_id %}">
                    {{movie_review.title}}
                    </a>
                </td>
                <td>
                    {{movie_review.created_at|date}}
                </td>
                <td>
                     {{movie_review.total}}
                </td>   
                <td>
                    <a href="{% url 'movie' id=movie_review.user_id %}">
                        {{movie_review.user}}
                    </a>
                </td> 
            
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h5>Nothing to see here, move along...</h5>
    </div>
{% endif %}

{% endblock %}