{% extends "app/layout.html" %}

{% block content %}
{% ifequal add_review 0 %}
<h1>Review for {{review_info.title}} by {{review_info.user.username}}</h1>
<div class="col-md-6">
    <img src="{{movie_info.Poster}}" />
</div>
<div class="col-md-6">
    <p>
       Cast: {{movie_info.Actors}}    
    </p>
    <p>
        Plot: {{movie_info.Plot}}
    </p>
</div>
<hr />
<table>
    <tr>
        <th>Music</th>
        <td>{{review_info.sound}}</td>
        <th>Review: </th>
        <td></td>
        <td>{{review_info.review}}</td>
    </tr>
    <tr>
        <th>Cinematography</th>
        <td>{{review_info.cinematography}}</td>
    </tr>
    <tr>
        <th>Story Telling</th>
        <td>{{review_info.story_telling}}</td>
    </tr>
    <tr>
        <th>Acting</th>
        <td>{{review_info.acting}}</td>
    </tr>
    <tr>
        <th>Plausibility</th>
        <td>{{review_info.plausibility}}</td>
    </tr>
    <tr>
        <th>Cast</th>
        <td>{{review_info.cast}}</td>
    </tr>
    <tr>
        <th>Effects</th>
        <td>{{review_info.effects}}</td>
    </tr>
    <tr>
        <th>Fun Factor</th>
        <td>{{review_info.fun_factor}}</td>
    </tr>
    <tr>
        <th>Originality</th>
        <td>{{review_info.originality}}</td>
    </tr>
    <tr>
        <th>Characters</th>
        <td>{{review_info.characters}}</td>
    </tr>
    <tr>
        <th>Total</th>
        <td>{{review_info.total}}</td>
    </tr>

</table>
{% endifequal %}
{% ifequal add_review 1 %}
<div class="col-md-6">
<h2>{{movie_info.Title}}, {{movie_info.Year}}</h2>
    

<form action="" method="post">
    {% csrf_token %}
        <table>
        {{form.as_table}}
        </table>
    <button type="submit">Submit</button>
</form>
        </div>
<div class="col-sm-1">
<img src="{{movie_info.Poster}}" />
    </div>
{% endifequal %}

{% endblock %}