/*Body*/

body {
}


.body-content {
    padding-top: 2%;
}

/*Navbar*/
.navbar {
    max-height: 65px;
    vertical-align: bottom;
    background-color: #4F5165;
}

nav {
    background-color: #4F5165;
}

.nav-item {
    color: #E3E4DB;
    padding: 0 8px 0 8px;
}

.navbar-brand {
    color: #E3E4DB !important;
}

.nav-link {
    color: #E3E4DB !important;
}
/*Index*/
.review_cards {
    padding: 0;
    display: inline-flex;
}

ul.cat-descriptions {
    list-style: none;
}

h2.cat-descriptions {
    text-decoration: underline;
}

.jumbotron {
    background-color: #E3E4DB;
}

#moviephile {
}

.index-card {
    border-color: #3C4344;
    margin: 1%;
    max-width: 50%;
}

.index-card-header {
    background-color: #E3E4DB;
}

.index-card-header {
}

#about-moviephile {
    text-decoration: underline;
}

/*Movie*/
th, td {
    border-bottom: 1px solid #ddd;
}

table {
    width: 80%;
}

th, td {
    padding: 5px;
}

th {
    background-color: #CDCDCD;
}

/*Review*/
table.review_table td,
table.review_table th {
    border: 1px solid #ddd;
}

table.review_table th{
    background-color: #f2f2f2;
}

.review_table {
    width: 100%;
    display: inline-flex;
}

.review_tables {
    display: inline-flex;
}

.review {
    column-span: inherit;
    
}

.review_page {
    display: inline-flex;
}

#dogs {
    max-height:450px;
}
#no_border {
    border: none;
    padding-bottom: 5%;
    padding-top: 5%;
}

#n_b2 {
    border: solid white;
    border-left: 1px solid #ddd;
}