/*Body*/

body 
{
}


.body-content {
    padding-top: 2%;
}

/*Navbar*/
.navbar {
    max-height: 65px;
    vertical-align: bottom;
    background-color: #4F5165;
}

nav
{
    background-color: #4F5165;
}

.nav-item 
{
    color: #E3E4DB;
    padding: 0 8px 0 8px;
}
.navbar-brand {
    color: #E3E4DB !important;
}
.nav-link 
{
    color: #E3E4DB !important;
}
/*Index*/
.review_cards 
{
    display: inline-flex;
}

ul.cat-descriptions 
{
    list-style: none;
}
h2.cat-descriptions
{
    text-decoration:underline;
}
.jumbotron {
    background-color: #E3E4DB;
    color: #797477;
}

#moviephile {
    color: #474044;
}
.index-card {
    border-color: #3C4344;
    margin: 1%;
    max-width: 50%;
}
.index-card-header {
    background-color: #E3E4DB;
}
.index-card-header {
    color: #474044;
}
#about-moviephile {
    color: #474044;
    text-decoration: underline;
}